---
import OverviewLayout from "../../layouts/OverviewLayout.astro"
---
<OverviewLayout title="T7">
    <ol>
        <li><a href="/t7/1.introduction">Introduction</a></li>
        <li><a href="/t7/2.git">Git</a></li>
        <li><a href="/t7/3.template-and-the-dom">Template and the DOM</a></li>
    </ol>
</OverviewLayout>