---
import SlideLayout from "../../../layouts/SlideLayout.astro"
import Goal from "../../../components/Goal.astro"
import AgendaSection from "../../../components/AgendaSection.astro"
import SlideControls from "../../../components/SlideControls.astro"
import Explainer from "../../../components/Explainer.svelte"
import codeFetcher from "../../../js/codeFetcher";
import Code from "../../../components/Code.astro";

const snippets = await codeFetcher("digital-design/notes",[
    
])

---

<SlideLayout title="Notes">
   
    <!-- 
      <li>Assignments</li>
        1: tag vores (evt deres) html og lave til componenter
        2: byg de her x components: foot, button, navbar
        3: onsdag se JS intro til svelte?
        3: lav varianter
        4: docu site
        <ol>
            
            
            //Inner circle, need to knwo
            <li>The documentation / tutorial</li>
            

            //outer circle, nice to know
            <li>#if :else</li>
            <li>each blocks</li>
            <li>reactivity</li>
            <li>events</li>
            <li>transition directives</li>  
            //middle circle, good to know
            <li>Deployment</li>
            <li>Made with svelte?</li>

        </ol>
    </section>

    <section>
    https://github.com/iamshaunjp/svelte-tutorial/blob/lesson-22/ninjapolls/src/shared/Button.svelte
        <h4>custom classes</h4>
        <button class="btn" class:variant>lovligt</button>
        <button class="btn" class:variant class={`{type}`}>ulovligt (flere identiske attr)</button>
    </section> -->


<!-- <li>Poor mans routing</li>
            <li>or: https://github.com/EmilTholin/svelte-routing</li>
            <li>with "scripts": {
  "start": "sirv public --single",
  "start:dev": "sirv public --dev --single"
},</li> -->

</SlideLayout>
