<h4>Jonas <span class="fragment">(Fannikke)</span> Holbech</h4>
<p>jofh@kea.dk</p>
<dl>
    <dt>Interests</dt>
    <dd>JS, Web</dd>
    <dt>Kids</dt>
    <dd>3</dd>
    <dt>Years at KEA</dt>
    <dd>7</dd>
</dl>