---
import OverviewLayout from "../../layouts/OverviewLayout.astro"
---
<OverviewLayout title="Coding Pirates">
    <ol>
        <li><a href="/coding-pirates/1.introduction">Introduction</a></li>
    </ol>
</OverviewLayout>