---
import codeFetcher from "../../../js/codeFetcher";
import SlideLayout from "../../../layouts/SlideLayout.astro";
import Code from "../../../components/Code.astro";
import Explainer from "../../../components/Explainer.svelte";
//import Timer from "../../../components/Timer.astro";
import Timer from "../../../components/Timer.svelte";
import SlideControls from "../../../components/SlideControls.astro";

const snippets = await codeFetcher("test",[
    "bad-setstate.js",
    "checkValidity.js"
])
//syntaxen for <Code er stadig ikke fed, gider ikke sætte path selv, redundant
---
<SlideLayout title="Introduction">
  <section>
    <Code code={snippets["bad-setstate.js"]} path="t7/bad-setstate.js" language="jsx" startFrom="2" lineNumbers="3-5|8-10|13-15" stretch/>
  </section>
  <section>
    <Code code={snippets["checkValidity.js"]}  language="js"/>
  </section>
  <section>
    <SlideControls />
  </section>
  <section>
    <h2>4 people</h2>
    <ol>
      <li class="fragment fade-in">Peter <span class="highlight-specialty">"The Savior"</span> Tolstrup (ptoa)</li>
      <li>Klaus <span class="highlight-specialty">"The Inspector"</span> Mandal (klmh)</li>
      <li>Jonas <span class="highlight-specialty">"The Tool"</span> Holbech (jofh)</li>
      <li>Dannie <span class="highlight-specialty">"El Puritan"</span> Vinther (davi)</li>
    </ol>
    <Explainer client:only data={[
    {
      type: "rect",
      classes: "fragment fade-in-then-out",
      animation: "letsAnimateFast",
      x: 130,
      y: 230,
      width: 660,
      height: 110,
    },
    {
      type: "rect",
      classes: "fragment fade-in-then-out",
      animation: "letsAnimateFast",
      x: 150,
      y: 185,
      width: 660,
      height: 110,
    },
    {
        type:"text",
        classes:"fragment",
        x:50,
        y:40,
        text:"Which file do we load?"
    },
    {
        type:"text",
        x:550,
        y:150,
        text:"What kind of data do we need?"
    },
    {
        type:"text",
        x:550,
        y:250,
        text:"What to do once we get it"
    },{
        type:"arrow",
        classes:"fragment",
        d:"M170,50 L180,80"
    },{
        type:"arrow",
        d:"M550,145 L470,175"
    },{
        type:"arrow",
        d:"M550,245 L300,330"
    },{
        type:"arrow",
        d:"M550,245 L340,260"
    }

  ]}/> 
  </section>
  <section>
    <Timer time="200" width="300" height="400" client:only/>
  </section>

  <section>
  <h2>Lists</h2>
    <ul>
      <li>Zebra</li>
      <li>Giraffe</li>
      <li>Elephant</li>
    </ul>
    <hr>
    <ol>
      <li>Zebra</li>
      <li>Giraffe</li>
      <li>Elephant</li>
    </ol>
  </section>
  <section>
    <h3><code>.listed</code></h3>
    <ul class="listed">
      <li>Zebra</li>
      <li>Giraffe</li>
      <li>Elephant</li>
    </ul>
    <hr>
    <h3><code>.huge</code></h3>
    <ul class="huge">
      <li>Zebra</li>
      <li>Giraffe</li>
      <li>Elephant</li>
    </ul>
  </section>
  <section>
    <h3><code>.striped</code></h3>
    <ul class="striped">
      <li>Zebra</li>
      <li>Giraffe</li>
      <li>Elephant</li>
    </ul>
    <hr>
    <ol class="striped">
      <li>Zebra</li>
      <li>Giraffe</li>
      <li>Elephant</li>
    </ol>
  </section>
  <section>
    <h3>code</h3>
    <p>here comes some <code>code(argument)</code></p>
    <h3>kbd</h3>
    <p>and a <kbd>kbd</kbd> element</p>
  </section>
  <section>
    <h3>tables</h3>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jill</td>
          <td>Smith</td>        
          <td>50</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td>      
          <td>94</td>
        </tr>
        <tr>
          <td>John</td>
          <td>Doe</td>      
          <td>80</td>
        </tr>
      </tbody>
    </table>

    <h3><code>.striped</code></h3>
    <table class="striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jill</td>
          <td>Smith</td>        
          <td>50</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td>      
          <td>94</td>
        </tr>
        <tr>
          <td>John</td>
          <td>Doe</td>      
          <td>80</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td>      
          <td>94</td>
        </tr>
        <tr>
          <td>John</td>
          <td>Doe</td>      
          <td>80</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <img src="../public/assets/logo.svg" alt="">
  </section>

  <section>
    <h2><code>.stricken</code></h2>
    <p class="stricken">im stricken</p>
    <hr>
    <ol class="stricken">
      <li>so is</li>
      <li>this list</li>
    </ol>
    <hr>
    <ol>
      <li>but not</li>
      <li class="stricken">everything here</li>
    </ol>
  </section>
</SlideLayout>